{% extends 'base.html' %}
{% load static %}
{% block title %}Courses{% endblock %}
{% block content %}
<main class="main">


    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Courses</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Courses</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

      <!-- Courses Section -->
    <section id="courses" class="courses section">

      <div class="container">

        <div class="row">

          {% for course in courses %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              {% if course.image %}
              <img src="{{ course.image.url }}" class="img-fluid" alt="{{ course.title }}">
              {% else %}
              <img src="{% static 'assets/img/course/course-1.webp' %}" class="img-fluid" alt="{{ course.title }}">
              {% endif %}
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">{{ course.category.name|default:"General" }}</p>
                  <p class="price">${{ course.price }}</p>
                </div>

                <h3><a href="{% url 'course-detail-page' course.slug %}">{{ course.title }}</a></h3>
                <p class="description">{{ course.description|truncatewords:15 }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    {% if course.trainer.user.photo %}
                    <img src="{{ course.trainer.user.photo.url }}" class="img-fluid" alt="">
                    {% else %}
                    <img src="{% static 'assets/img/person/person-m-7.webp' %}" class="img-fluid" alt="">
                    {% endif %}
                    <a href="" class="trainer-link">{{ course.trainer.user.first_name }}</a>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;{{ course.counted_views }}
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;{{ course.counted_likes }}
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
          {% empty %}
          <p class="text-center">No courses published yet.</p>
          {% endfor %}

        </div>

      </div>

    </section><!-- /Courses Section -->

        </div>

      </div>

    </section><!-- /Courses Section -->

  </main>
{% endblock %}
